@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: hsl(257, 40%, 49%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

@media (max-width: 1330px) {
  body {
    align-items: normal;
    overflow: visible;
  }
}
